body {
  font-family: 'Arial', sans-serif;
  text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px red;
  background: linear-gradient(to top left, black, red);
}

.app {
  text-align: center;
}

h1 {
  font-size: 50px;
}

.game {
  margin: 20px auto;
  max-width: 600px;
}

.status {
  margin-bottom: 10px;
  font-size: 18px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-gap: 7px;
  margin: 0 auto;
}

.square {
  width: 200px;
  height: 200px;
  padding: 10px;
  font-size: 75px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  border: 2px solid red;
  cursor: pointer;
  color: black;
  text-shadow: -2px -2px 0 red, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.restart {
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: black;
  color: white;
  border: 5px red;
  border-radius: 5px;
  color: black;
  text-shadow: -.5px -.5px 0 red, .5px -.5px 0 red, -.5px .5px 0 red, .5px .5px 0 red;
}

.restart:hover {
  background-color: red;
  color: red;
  text-shadow: -.5px -.5px 0 black, .5px -.5px 0 black, -.5px .5px 0 black, .5px .5px 0 black;
}
